[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==1.1.2"
jinja2 = "<3.1.0"
itsdangerous = "==2.0.1"
werkzeug = "==2.0.3"
requests = "==2.25.1"
python-dotenv = "==0.15.0"
flask-cors = "==3.0.10"

[dev-packages]
pylint = "==2.7.2"
pycodestyle = "==2.6.0"
black = "==22.3.0"

[requires]
python_version = "3.9"
